<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdc.inventorysystem.dao.MissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdc.inventorysystem.entity.Mission">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="score" property="score" />
        <result column="userId" property="userId" />
        <result column="pubTime" property="pubTime" />
        <result column="schoolId" property="schoolId" />
        <result column="recUserId" property="recUserId" />
        <result column="recTime" property="recTime" />
        <result column="state" property="state" />
        <result column="display" property="display" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, score, userId, pubTime, schoolId, recUserId, recTime, state, display
    </sql>

	<select id="getAll" resultMap="BaseResultMap" >
		select 
			m.id id,m.title title,m.content content,m.score score,m.userId userId,
			DATE_FORMAT(m.pubTime,'%Y-%m-%d %H:%i:%s') pubTime,
			m.schoolId schoolId,m.recUserId recUserId,
			DATE_FORMAT(m.recTime,'%Y-%m-%d %H:%i:%s') recTime,
			m.state state,m.display display
		from 
			mission m
	</select>
</mapper>
